- name: agentProvisioning
  hostSelector:
    managedBy: baremetal
    provisionState: available
  labels:
    profileName: agentProvisioning
  persistentLabels:
    managedBy: agent
  hostTemplate: osac.templates.bm_host_agent_provisioning
  expectedTemplateParameters:
    - agentPrivateNetwork
    - imageURL

- name: agentDeprovisioning
  hostSelector:
    managedBy: agent
    provisionState: active
  labels:
    profileName: agentDeprovisioning
  persistentLabels:
    managedBy: baremetal
  hostTemplate: osac.templates.bm_host_agent_deprovisioning

- name: agentCaaS
  hostSelector:
    managedBy: agent
    provisionState: active
  labels:
    profileName: agentCaaS
  bareMetalPoolTemplate: osac.templates.bm_private_network
  hostTemplate: osac.templates.bm_host_private_network
  expectedTemplateParameters:
    - privateNetwork
    - networkAfterDelete
